<section class="phx-hero">
    <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
    <p>Peace of mind from prototype to production</p>
</section>

<div class="container">
    <h1 class="text-5xl text-center mx-auto mb-8"> Sudoku </h1>
    <table id="sudoku" class="max-w-screen-sm mx-auto">
        <colgroup class="border-solid border-4 border-black">
            <col>
            <col>
            <col>
        </colgroup>
        <colgroup class="border-solid border-4 border-black">
            <col>
            <col>
            <col>
        </colgroup>
        <colgroup class="border-solid border-4 border-black">
            <col>
            <col>
            <col>
        </colgroup>
        <tbody class="border-solid border-4 border-black">
            <tr>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
            </tr>
            <tr>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
            </tr>
            <tr>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
            </tr>
        </tbody>
        <tbody class="border-solid border-4 border-black">
            <tr>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
            </tr>
            <tr>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
            </tr>
            <tr>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
            </tr>
        </tbody>
        <tbody class="border-solid border-4 border-black">
            <tr>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
            </tr>
            <tr>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
            </tr>
            <tr>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
                <td><input type="text" maxlength="1"></td>
            </tr>
        </tbody>
    </table>

    <h1 class="text-5xl text-center mx-auto mb-8"> Sudoku </h1>
    <%# To allow for arbitrary sudokus, I should be generating this as a style%>
    <div class="sudoku grid border-4 border-black border-solid mx-auto box-content">
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
        <div><input type="text" maxlength="1"></div>
    </div>
</div>


